<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="nav_bar(activeItem)">
    <nav class="navbar nav nav-tabs navbar-expand-lg navbar-light bg-black bg-opacity-25">
        <div class="container">
<!--            웹페이지 로고가 큰 글씨로 들어감-->
            <h1>
                <a class="text-decoration-none" href="/">Web V2</a>
            </h1>
            <div class="navbar-text text-danger text-center" style="text-transform: uppercase; width: 100px">
                <span  th:text="${activeItem}"></span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item " >
                        <a class="nav-link" th:classappend="${activeItem == 'home' ? 'text-primary' : ''}" href="/">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:classappend="${activeItem == 'about' ? 'text-primary' : ''}"  href="/">About</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:classappend="${activeItem == 'board' ? 'text-primary' : ''}"  href="/board/list">Board</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer>
        <div class="container">
            <p>&copy; 2023 My Website. All rights reserved.</p>
        </div>
    </footer>
</div>

<script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
